@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">
    body {
        background-size: cover;
        background-attachment: fixed;
    }
</style>
<body background="~/Images/Blackboard-2007.jpg">
    <br /><br /><center>
        <font color="white">
            <h1>BIENVENIDO A</h1>  <img src="~/Images/EASYClass4.png" height="400" width="450" />
        </font><br /><br />
    </center>
    <div class="jumbotron">
        <font color="black">
            <p class="lead">
                En este sitio web podras crear todas las rúbricas con las que el alumno trabajará.
                ¡Ve al botón de 'Rúbricas' para comenzar!
            </p>
        </font>

    </div>

</body>
